{% extends "@CoreBundle/layout.html.twig" %}

{% block title %}
    Acceuil
{% endblock %}

{% block ocplatform_body %}

    <h2>Page d'acceuil</h2>

    <div>
        {% for message in app.session.flashbag.get('info') %}
            <p>Message flash : {{ message }}</p>
        {% endfor %}
    </div>

  <h3>Dernières annonces</h3>
  {{ render(controller("OCPlatformBundle:Advert:menu", {'limit': 3})) }}

{% endblock %}